@*@model tockoteka.Models.ViewModels.BlogCategoryVM*@
@model cloudscribe.Pagination.Models.PagedResult<Blog>

@{
    ViewData["Title"] = "Блогови";

    // pagination data
    ViewData["Controller"] = "Blogs";
    ViewData["Action"] = "Index";
}

@if (User.IsInRole(WC.AdminRole) || User.IsInRole(WC.CustomerRole))
{
    <p>
        <a asp-action="Create" class="btn btn-success mt-2 "><i class="fas fa-plus"></i> Нов блог</a>
    </p>
}

<div class="container">

    <div class="text-center">
        <button class="btn btn-dark filter-button" data-filter="all">Сите</button>
        @foreach (var obj in Model.Data)
        {
            <button class="btn btn-outline-secondary filter-button" data-filter="@obj.BlogCategory.Name.Replace(' ','_')">@obj.BlogCategory.Name</button>
        }
    </div>

    <br />

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 ">

            @if (Model.Data.Count == 0)
            {
                <p>Не постојат блогови</p>
            }
            else
            {
                @foreach (var obj in Model.Data)
                {
                    <div class="filter @obj.BlogCategory.Name.Replace(' ','_')">
                        <partial name="~/Views/Blogs/Partial/_BlogCard.cshtml" model="obj" />
                    </div>
                }
            }

        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 text-center">
            <div class="align-self-end" style="border: 1px solid black; height: 250px;">
                Место за вашата реклама
            </div>

            <div class="mt-4 " style="border: 1px solid black; height: 100px;">
                Место за вашата реклама
            </div>

            <div class="mt-4 " style="border: 1px solid black; height: 250px;">
                Место за вашата реклама
            </div>
        </div>

    </div>

    <div class="mt-3">
        <partial name="_Pagination" model="Model" view-data="ViewData" />
    </div>

</div>


    @section Scripts {
        <script>
            $(document).ready(function () {
                $(".filter-button").click(function () {
                    var value = $(this).attr('data-filter');
                    if (value == "all") {
                        $('.filter').show('1000');
                    }
                    else {
                        $(".filter").not('.' + value).hide('3000');
                        $('.filter').filter('.' + value).show('3000');
                    }
                });
            });
        </script>
    }


